@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
    /* background:#f0f5f5; */
    font-family: 'Nunito Sans', sans-serif;
    margin:0px;
}

h1{
    color: #2F3C7E;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 36px;
    line-height: 40px;
}

.content{
    background:#f0f5f5;
    max-width: 700px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    /* box-shadow: 1px 3px 5px rgba(0,0,0,0.1) */
}

.header-logo{
    width: 20%;
    padding: 10px;
    padding-left:50px;
    float: left;
    display: inline;
}

nav ul{
    position: relative;
}
ul li{
    --tagify-dd-color-primary: rgb(34, 34, 34);
    --tagify-dd-bg-color: #fff;
    box-sizing: border-box;
    /* border: 0 solid #e2e8f0; */
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
    /* --border-opacity: 1;
    border-color: rgba(34, 34, 34,var(--border-opacity));
    border-radius: .5rem;
    border-width: 2px; */
    padding: 1.25rem;
    position: relative;
    margin-top: 10px;
    padding: 20px;
    height: fit-content;
}
.title{
    font-weight: bolder;
}
nav{
    background-color: white;
    width: 100%;
    display: inline-block;
}
nav ul li{
    -webkit-text-size-adjust: 100%;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    line-height: 1.5;
    --tagify-dd-color-primary: #3595f6;
    --tagify-dd-bg-color: #fff;
    color: inherit;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
    --border-opacity: 1;
    border-color: rgba(0,0,0,var(--border-opacity));
    border-radius: .25rem;
    border-width: 2px;
    display: inline-block;
    font-weight: 700;
    height: 100%;
    font-size: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    width: fit-content;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .1s;
    padding: 9px 12px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.link{
    text-decoration: none;
}

.name{
    color: black;
    margin-bottom: 5px;
}

.description{
    color: black;
}

/* footer h6{
    text-align: center;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

footer{
    font-family: 'Nunito', sans-serif;
    background-color: #eeeeee;
    color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
} */